
.navBar{
  background-color: #512DA8;
  height:64;
  flex: 1;
  flex-direction: row;
}
.navBarTitleView{
  flex: 1;
  justify-content: center;
}
.navBarTitleText{
  color: #ffffff;
  font-size: 17;
  font-weight: bold;
}

.navBarLeftButton{
  flex: 1;
  justify-content: center;
}


.navBarLeftButtontxt{
  color: #ffffff;
  font-size: 17;
}


.navBarRightButton{
  justify-content: flex-end;

}
.navBarRightButtontxt{
  color: #ffffff;
  font-size: 17;
}
