.atitemview{
  border-bottom-color: #cccccc;
  border-bottom-width: 0.8;
  border-style: solid;
  padding: 12;
  flex-direction: row;
  flex: 1;
}
.atitemtitle{
  color: #212121;
  font-size: 15;
    line-height: 20;

}
.atitemdescview  {
  height: 44;
  padding-top: 4;
  overflow: hidden;
}
.atitemdesctext{
  color: #757575;
  line-height: 20;
  overflow: hidden;
}
.atitemdate{
  padding-top: 4;
  align-items: flex-start;;
}
.atitemdatetext{
  color: #757575;
  line-height: 20;
}
.atitemleftview{
  flex: 1;
  padding-right: 8;
}
.atitemrightview{
  width: 100;
  justify-content: center;
  align-items: center;
}
.atitemimage{
  width: 100;
  height: 80;
}
.atitemtitleview{
  height: 40;
  overflow: hidden;
}
